.qr-page {
    padding-top: 2rem;
}

.qr-page-nav{
    z-index: 1;
    position: fixed;
    padding: 2rem;
}

.qr-page > div {
    font-size: 18px;
}

.qr-text {
    position: fixed;
    padding-top: 2rem;
    left: 50%;
    transform: translateX(-50%);
}