@import url('../../css/reset.css');

.index-nav {
    display: flex;
    justify-content: space-between;
    padding: .5rem 1.5rem 1.5rem;
    padding-top: env(safe-area-inset-top);
}

.nav-logo{
    font-size: 18px;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu-item {
    margin-left: 2rem;
}